html {
  min-height: 100%;
  position: relative;
}
*{
  box-sizing:border-box;
}
body {
 margin:0;
 padding:0;
 font-family: 'Roboto', sans-serif;
 background: #f7f7f7;
}

.header {
  background:#f7f7f7;
  padding:10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*z-index: 9999;*/
}
.header .container-fluid {
    max-width: 970px;
}
.header ul li {
    display: inline-block;
}
.header ul.pull-right a {
  display:inline-block;
  font-size:15px;
  color: #000;
    text-decoration: none;
    margin:2px 5px;
}
.header p {
    margin: 16px;
    color: #000;
}
.header p #log-status {
  color: #ff4f00;
  
}

.header #brandname {
 width: 200px;
}

ul.pull-right li {
  margin-top: 13px;
    margin-right: 3em;
    font-size: 18px;
  color: red;
}

/*main*/
.content {
  position:relative;
  top:-61px;
  height:460px;
  background: #4e2d3e url('img/reading_banner.jpeg') no-repeat center center;
  background-size:cover;
  background-blend-mode: multiply;
}
#content_banner {
    margin-top:61px;
    max-height: 300px;
}
#content_banner > h1 {
  margin-top:2em;
  color: #fff;
  font-size: 3.5em;
  font-weight: 300;
}
#content_banner h3 {
  font-size: 3em;
  font-weight: 100;
  margin:0 45px;
}

.right_wrapper p {
  line-height: 1.5;
}

/* search input */
div.search {
  background: transparent;
  max-width: 670px;
  margin:0 auto;
}
/*extra feature*/

.search_detail .container-fluid, .topsell_detail .container-fluid {
    max-width: 970px;
}
.search_detail .book_info, .topsell_detail .book_info {
    display: flex;
    margin-bottom: 20px;
}
.search_detail .book_info .content-left, .topsell_detail .book_info .content-left {
    width: 200px;
/*    background:orange;*/
    text-align: center;
}
.search_detail .book_info .content-left img {
/*    margin:auto;*/
}
.search_detail .book_info .content-right, .topsell_detail .book_info .content-right{
    width: 770px;
    background:rgba(255, 255, 255, 0.4);
    color: #000;
}
.search_detail .book_info .content_right .right_wrapper, .topsell_detail > h3, h4, p {
  margin: 10px;
}
/*.search_detail .book_info .content_right .right_wrapper > h3, h4, p {
  margin: 10px;
}*/
.search_detail #link_prev, .topsell_detail #link_prev {
  background:orange;
  color:#fff;
  text-decoration: none;
  padding:5px;
  
}
/*home feature*/
.feature {
    padding:0 0 50px 0;
  background:#7f7f7;
  color: #191919;
}
.feature .loader > .fa-spinner {
  margin-top: .5em;
}
.feature h4:first-child {
    text-align: center;
    text-decoration: underline;
}
.feature .container {
    margin-bottom: 8px;
    max-width: 980px;
    margin:0 auto;
/*    text-align: center;*/
}
.feature .container .book_content {
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.feature .container .book_content #book-item {
    width:190px;
   padding:10px 15px;
    text-align: center;
    margin:5px 10px;
    background:#fff;
    color: black;
}
.feature .container .book_content #book-item:hover {
    box-shadow: 2px 3px 3px #262626;
    cursor: pointer;
}
.feature h4 {
  position: relative;
  top: 10px;
}
/*best sellers*/
.best_sellers{
  /*height:200px;*/
  background:#f7f7f7;
}
.best_sellers h4 {
  text-align: center;
  color: #191919;
  margin:20px;
  font-size: 25px;
  font-weight: 300;
}
.best_sellers .container-fluid {
  max-width: 970px;
  margin:0 auto;
}
.bestsellers {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bestsellers #best-item {
  width:180px;
  padding: 0;
  margin:0;
}
.bestsellers #best-item a {
  text-decoration: none;
}
.bestsellers #best-item a> h5, p {
  color:#000;
  line-height: 1;
}

/*topsell*/
.topsell_detail {
  
}

/*myBook*/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding:4px;
  background:#191919;
  color: #f7f7f7;
}
.footer .container {
  margin:0 10px;
  padding: 5px 0;
}


/*media queries*/

